#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#training {
    margin: 20px;
}
#training .item{
    flex-direction: column;
    margin: auto;
}
.courses .course {
    flex-direction: column;
}
